# Chroma vector database
chroma_*

# FAISS vector database
faiss_index

# Jupyter Notebook
.ipynb_checkpoints/*
create_graph/temp/.ipynb_checkpoints/*
results/*/.ipynb_checkpoints/*

# Python cache
__pycache__/*
